[submodule "thirdpartypoopers/libhv"]
	path = thirdpartypoopers/libhv
	url = git@github.com:CaolanC/libhv.git
[submodule "thirdpartypoopers/libsdl-org"]
	path = thirdpartypoopers/libsdl-org
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdpartypoopers/cglm"]
	path = thirdpartypoopers/cglm
	url = https://github.com/recp/cglm.git
[submodule "thirdpartypoopers/FastNoiseLite"]
	path = thirdpartypoopers/FastNoiseLite
	url = git@github.com:CaolanC/FastNoiseLite.git
[submodule "thirdpartypoopers/glm"]
	path = thirdpartypoopers/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdpartypoopers/entt"]
	path = thirdpartypoopers/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdpartypoopers/uWebSockets"]
	path = thirdpartypoopers/uWebSockets
	url = git@github.com:CaolanC/uWebSockets.git
[submodule "thirdpartypoopers/concurrentqueue"]
	path = thirdpartypoopers/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
