[submodule "thirdpartypoopers/libhv"]
	path = thirdpartypoopers/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "thirdpartypoopers/libsdl-org"]
	path = thirdpartypoopers/libsdl-org
	url = https://github.com/libsdl-org/SDL.git
